<!DOCTYPE html>
<html>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <head>
        <link href="/static/css/lib/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
        <script src="/static/js/lib/jquery-3.3.1.min.js" type="text/javascript"></script>
        <script>
            {% if delay is defined %}
                $(document).ready(function() {
                    {{ delay|safe }}
                });
            {% endif %}
        </script>
    </head>
    <body>
        <div class="container" style="width: 60%">
            <div>
                <div style="width: 100%">
                    <img src="/static/images/docker-flask.png" width="100%">
                    <p>
                        <h6 class="text-center">{{ text|safe }}</h6>
                        <p class="text-center">
                            {{ delete_link|safe }}
                            <a href="http://0.0.0.0">Go back</a>
                        </p>
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>